* {
    color: #142d4c;
    font-family: "Nunito Sans", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 500;
    /* font-style: normal; */
}
body{
    background-color: #142d4c;
    background-image: url(https://hirebeen.com/image/Element1.svg);
    background-repeat: repeat;
    /* background-size: contain; */
    background-size: 225% auto;
}
/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 4px;
    /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* Background color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
    background: #888;
    /* Color of the scrollbar thumb */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* Color of the scrollbar thumb on hover */
}

#mobile-menu {
    position: fixed;
    right: -200px;
    width: 120px;
    height: calc(100% - 1rem);
    background-color: white;
    transition: right 0.5s ease-in-out;
    z-index: 1000;
}
#mobile-menu > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}
#mobile-menu > .container > a > i {
    font-size: 30px;
}

.menu-container {
    height: 1rem;
    /* Adjust the height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    color: #596e79;
    /* Adjust font color as needed */
    display: none;
}

@media (min-width: 768px) {
    #mobile-menu {
        display: none;
        /* Hide mobile menu on larger screens */
    }

    .menu-container {
        display: flex;
    }

    .close-btn {
        display: none;
        /* Initially hide close button on larger screens */
    }

    .nav-links {
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        color: #596e79;
        /* Adjust font color as needed */
    }
}

nav {
    position: sticky;
    top: 0;
    background-color: #FFF;
    z-index: 999;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    margin: 0 15px;
    border-radius: 8px;
    display: block;
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.mouse span {
    animation: colorText 8s ease-out infinite, nudgeText 8s ease-out infinite;
    bottom: -20px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    left: -20px;
    letter-spacing: .5em;
    line-height: 16px;
    position: absolute;
    text-align: center
}

.mouse {
    animation: colorSlide 8s linear infinite, nudgeMouse 8s ease-out infinite;
    background: white linear-gradient(transparent, transparent 50%, #303030 0, #303030);
    background-size: 100% 200%;
    border-radius: 100px;
    bottom: 60px;
    height: 40px;
    left: 50%;
    position: absolute;
    width: 25px;
    top: 80vh;
}

.mouse:after,
.mouse:before {
    bottom: 0;
    content: "";
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.mouse:before {
    background-color: white;
    border-radius: 100px;
    height: 38px;
    width: 23px
}

.mouse:after {
    animation: trackBallSlide 8s linear infinite;
    background-color: #303030;
    border-radius: 100%;
    bottom: 14px;
    height: 5px;
    top: auto;
    width: 5px
}

@keyframes colorSlide {
    0% {
        background-position: 0 100%
    }

    20% {
        background-position: 0 0
    }

    21% {
        background-color: white
    }

    29.99% {
        background-color: #303030;
        background-position: 0 0
    }

    30% {
        background-color: white;
        background-position: 0 100%
    }

    50% {
        background-position: 0 0
    }

    51% {
        background-color: white
    }

    59% {
        background-color: #303030;
        background-position: 0 0
    }

    60% {
        background-color: white;
        background-position: 0 100%
    }

    80% {
        background-position: 0 0
    }

    81% {
        background-color: white
    }

    90%,
    to {
        background-color: #303030
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }

    6% {
        opacity: 1;
        transform: scale(.9) translateY(5px)
    }

    14% {
        opacity: 0;
        transform: scale(.4) translateY(40px)
    }

    15%,
    19% {
        opacity: 0;
        transform: scale(.4) translateY(-20px)
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }

    36% {
        opacity: 1;
        transform: scale(.9) translateY(5px)
    }

    44% {
        opacity: 0;
        transform: scale(.4) translateY(40px)
    }

    45%,
    49% {
        opacity: 0;
        transform: scale(.4) translateY(-20px)
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }

    66% {
        opacity: 1;
        transform: scale(.9) translateY(5px)
    }

    74% {
        opacity: 0;
        transform: scale(.4) translateY(40px)
    }

    75%,
    79% {
        opacity: 0;
        transform: scale(.4) translateY(-20px)
    }

    88%,
    to {
        opacity: 1;
        transform: scale(1) translateY(-20px)
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(8px)
    }

    30% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(8px)
    }

    60% {
        transform: translateY(0)
    }

    80% {
        transform: translateY(8px)
    }

    90% {
        transform: translateY(0)
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0)
    }

    20% {
        transform: translateY(2px)
    }

    30% {
        transform: translateY(0)
    }

    50% {
        transform: translateY(2px)
    }

    60% {
        transform: translateY(0)
    }

    80% {
        transform: translateY(2px)
    }

    90% {
        transform: translateY(0)
    }
}

@keyframes colorText {
    21% {
        color: white
    }

    30% {
        color: #303030
    }

    51% {
        color: white
    }

    60% {
        color: #303030
    }

    81% {
        color: white
    }

    90% {
        color: #303030
    }
}

.fa-brands,
.fa-envelope {
    font-size: 20px;
}
.fa-phone {
    font-size: 16px;
}
.bandwsection,
.colorsection,
.oilpainsection {
    font-size: 20px;
    cursor: pointer;
}

.bandwprice {
    display: none;
}

.rotatearrow {
    transition: transform .8s ease;
    /* Adjust the duration and timing function as needed */
}

.rotatearrow.rotate180 {
    transform: rotate(-540deg);
}

.sixetext{
    font-size: 13px;
    font-weight: 500;
    font-style: italic;
    color: grey;
}
.pricepara{
    font-size: 18px;
    font-weight: 600;
}
.headtype{
    font-size: 20px;
    font-family: 500;
}
.forparatag p{
    height: 25px;
}
.allImages{
    columns: 250px 4;
}
.imagesS {
    /* display: flex; */
    flex-direction: column;
    /* border: 1px solid; */
    /* border-radius: 20px; */
    margin: 3px 0px;
    padding: 5px;
    /* width: 250px; */
}
.imagesS img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media screen and (max-width: 768px) {
    .allImages {
        columns: 2; /* Set the number of columns to 2 for mobile devices */
    }
    .imagesforlaptop{
        display: none;
    }
    .imagesformobile{
        display: flex;
    }
}
.imagenewsec{gap: 2px;}
/* .imagesSnew {width: 250px;} */
.imagesSnew img {width: 100%; height: auto;margin-bottom: 10px;border-radius: 5px;}